<ion-view view-title="Gallery">
  <div class="bar bar-header center branding">
    <img src="./img/logo.png" class="header-logo">
  </div>
  <ion-content class="padding center has-header" id="gallery">
    <div ng-repeat="image in images track by $index" class="snapshot">
      <div class="main image-container" style="background-image: url({{image.URI}});">
  <!--  CO -->
        <div class="filter co" ng-class="{selected: image.activeFilter == 'co'}" style="opacity: {{image.data.sensors[5].value / 200 }};">
        </div>

  <!--  Sound -->
        <div class="filter sound" style="height: {{image.data.sensors[7].value / 150 * 100}}%;" ng-class="{selected: image.activeFilter == 'sound'}">
          <div id="sound-bars">
            <div class="sound-bar" ng-repeat="i in soundBars track by $index"></div>
          </div>
        </div>

  <!--  Temp -->
        <div class="filter temp" ng-class="{selected: image.activeFilter == 'temp'}" style={{image.tempLevel}}></div>

  <!--  Humidity -->
        <div class="filter humidity" ng-class="{selected: image.activeFilter == 'humidity'}" style="background-image: url('./img/humidity-'{{image.humidityLevel}}'.png');"></div>
      </div>

      <div class="readings">
        <ul id="readings">
          <li>
            <icon class="ion-ios-cloudy-outline xl"></icon>
            <span class="label">CO</span>
            <span class="reading">{{image.data.sensors[5].value | number: 0}}</span>
            <p class="unit">KOHM</p>
          </li>

          <li>
            <icon class="icon ion-volume-high"></icon>
            <span class="label">Sound</span>
            <span class="reading">{{image.data.sensors[7].value | number: 0}}</span>
            <p class="unit">{{image.data.sensors[7].unit}}</p>
          </li>

          <li>
            <icon class="icon ion-thermometer"></icon>
            <span class="label">Temp</span>
            <span class="reading">{{image.data.sensors[3].value | number: 0}}</span>
            <p class="unit">{{image.data.sensors[3].unit}}</p>
          </li>

          <li>
            <icon class="icon ion-ios-rainy-outline xl"></icon>
            <span class="label">Humidity</span>
            <span class="reading">{{image.data.sensors[2].value | number: 0}}</span>
            <p class="unit">{{image.data.sensors[2].unit}}</p>
          </li>     
        </ul>
      </div>
      <div class="info row">
        <div class="col center">
          <icon class="ion-ios-location"></icon> MIT Media Lab
        </div>
        <div class="col center">
          <span class="date">{{image.timestamp | date : 'MMM dd, yyyy'}}</span>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
